@namespace Website.Client

@inherits ComponentBase


@if (ShowBanner)
{
    <div class="mdc-layout-grid dw-cookie-alert mdc-elevation--z5 @ColorClass" role="alert">
        <div class="mdc-layout-grid__inner dw-max-width-content">
            <div class="mdc-layout-grid__cell--span-12 dw-cookie-alert-content">
                <p>We only use cookies that are essential to show this website and for Google Analytics</p>

                <MBButton ButtonStyle="@MBButtonStyle.ContainedRaised"
                          Label="Clear"
                          @onclick="AcceptCookie"/>
            </div>
        </div>
    </div>
}
