@page "/"

<div>
    <div class="dw-max-width-content">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4" style="background-color: lightgray;">
                    <h1 class="mb-card__title mdc-typography--headline1">Headline 1</h1>
                    <h2 class="mb-card__title mdc-typography--headline2">Headline 2</h2>
                    <h3 class="mb-card__title mdc-typography--headline3">Headline 3</h3>
                    <h4 class="mb-card__title mdc-typography--headline4">Headline 4</h4>
                    <h5 class="mb-card__title mdc-typography--headline5">Headline 5</h5>
                    <h6 class="mb-card__title mdc-typography--headline6">Headline 6</h6>
                    <p class="mb-card__title mdc-typography--body1">Body 1</p>
                    <p class="mb-card__title mdc-typography--body2">Body 2</p>
                </div>

                <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4" style="background-color: lightblue;">
                    <h1 class="mb-card__title mdc-typography--headline1">Headline 1</h1>
                    <h2 class="mb-card__title mdc-typography--headline2">Headline 2</h2>
                    <h3 class="mb-card__title mdc-typography--headline3">Headline 3</h3>
                    <h4 class="mb-card__title mdc-typography--headline4">Headline 4</h4>
                    <h5 class="mb-card__title mdc-typography--headline5">Headline 5</h5>
                    <h6 class="mb-card__title mdc-typography--headline6">Headline 6</h6>
                    <p class="mb-card__title mdc-typography--body1">Body 1</p>
                    <p class="mb-card__title mdc-typography--body2">Body 2</p>
                </div>

                <div class="mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2 dw-hidden-phone-down"></div>

                <div class="mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4" style="background-color: lightsalmon;">
                    <h1 class="mb-card__title mdc-typography--headline1">Headline 1</h1>
                    <h2 class="mb-card__title mdc-typography--headline2">Headline 2</h2>
                    <h3 class="mb-card__title mdc-typography--headline3">Headline 3</h3>
                    <h4 class="mb-card__title mdc-typography--headline4">Headline 4</h4>
                    <h5 class="mb-card__title mdc-typography--headline5">Headline 5</h5>
                    <h6 class="mb-card__title mdc-typography--headline6">Headline 6</h6>
                    <p class="mb-card__title mdc-typography--body1">Body 1</p>
                    <p class="mb-card__title mdc-typography--body2">Body 2</p>
                </div>
            </div>
        </div>
    </div>
</div>
