@page "/privacy-policy"

@inherits ComponentBase;


<HeadAndMetaContent Title="Privacy Policy"
                    Description="Dioptra's Privacy Policy."
                    OpenGraphImage=""
                    TwitterImage="">
</HeadAndMetaContent>


<GeneralPageLayout @ref="@GeneralPageLayout" ColorClass="dw-green" >
    <div class="dw-section-regular">
        <div class="dw-max-width-content">
            <div class="mdc-layout-grid">
                <div class="mdc-layout-grid__inner">
                    <div class="mdc-layout-grid__cell--span-12">
                        <h2 class="mdc-typography--headline1">Privacy Policy</h2>
                        <p class="mdc-typography--body1">TBD.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</GeneralPageLayout>
