// stylelint-disable scss/dollar-variable-pattern

@use "sass:color";

@use "@material/theme" as theme with ( 
    $primary: #1976d2, 
    $secondary: #ffa000,
    $background: white, 
    $surface: white,
);

@use "Main";
@use "@material/top-app-bar";
@use "@material/elevation/mixins" as elevation-mixins;

:root {
    --dw-background-highlight: var(--mb-color-yellow-100);
    --dw-traffic-green: var(--mb-color-green-500);
    --dw-traffic-green-amber: var(--mb-color-lime-500);
    --dw-traffic-amber: var(--mb-color-amber-500);
    --dw-traffic-amber-red: var(--mb-color-orange-500);
    --dw-traffic-red: var(--mb-color-red-500);
    --dw-traffic-grey: var(--mb-color-grey-500);
    --dw-traffic-unobtrusive-green: rgba(var(--mb-color-green-200-rgb), 1);
    --dw-traffic-unobtrusive-green-amber: rgba(var(--mb-color-lime-200-rgb), 1);
    --dw-traffic-unobtrusive-amber: rgba(var(--mb-color-amber-200-rgb), 1);
    --dw-traffic-unobtrusive-amber-red: rgba(var(--mb-color-orange-200-rgb), 1);
    --dw-traffic-unobtrusive-red: rgba(var(--mb-color-red-200-rgb), 1);
    --dw-traffic-unobtrusive-grey: rgba(var(--mb-color-grey-200-rgb), 1);
    --dw-on-traffic-green: white;
    --dw-on-traffic-green-amber: white;
    --dw-on-traffic-amber: white;
    --dw-on-traffic-amber-red: white;
    --dw-on-traffic-red: white;
    --dw-on-traffic-grey: white;
    --dw-deleted-color: rgba(var(--mb-color-red-700-rgb), 0.4);
    --dw-loading-background: var(--mb-color-blue-grey-700);
    --dw-search-highlight: var(--mb-color-yellow-300);
    --dw-action-icon-red: var(--mb-color-red-500);
    --dw-action-icon-on-red: var(--mb-color-on-red-500);
    --dw-action-icon-pink: var(--mb-color-pink-500);
    --dw-action-icon-on-pink: var(--mb-color-on-pink-500);
    --dw-action-icon-purple: var(--mb-color-purple-500);
    --dw-action-icon-on-purple: var(--mb-color-on-purple-500);
    --dw-action-icon-deep-purple: var(--mb-color-deep-purple-500);
    --dw-action-icon-on-deep-purple: var(--mb-color-on-deep-purple-500);
    --dw-action-icon-indigo: var(--mb-color-indigo-500);
    --dw-action-icon-on-indigo: var(--mb-color-on-indigo-500);
    --dw-action-icon-blue: var(--mb-color-blue-500);
    --dw-action-icon-on-blue: var(--mb-color-on-blue-500);
    --dw-action-icon-light-blue: var(--mb-color-light-blue-500);
    --dw-action-icon-on-light-blue: var(--mb-color-on-light-blue-500);
    --dw-action-icon-cyan: var(--mb-color-cyan-500);
    --dw-action-icon-on-cyan: var(--mb-color-on-cyan-500);
    --dw-action-icon-teal: var(--mb-color-teal-500);
    --dw-action-icon-on-teal: var(--mb-color-on-teal-500);
    --dw-action-icon-green: var(--mb-color-green-500);
    --dw-action-icon-on-green: var(--mb-color-on-green-500);
    --dw-action-icon-light-green: var(--mb-color-light-green-500);
    --dw-action-icon-on-light-green: var(--mb-color-on-light-green-500);
    --dw-action-icon-lime: var(--mb-color-lime-500);
    --dw-action-icon-on-lime: var(--mb-color-on-lime-500);
    --dw-action-icon-yellow: var(--mb-color-yellow-500);
    --dw-action-icon-on-yellow: var(--mb-color-on-yellow-500);
    --dw-action-icon-amber: var(--mb-color-amber-500);
    --dw-action-icon-on-amber: var(--mb-color-on-amber-500);
    --dw-action-icon-orange: var(--mb-color-orange-500);
    --dw-action-icon-on-orange: var(--mb-color-on-orange-500);
    --dw-action-icon-deep-orange: var(--mb-color-deep-orange-500);
    --dw-action-icon-on-deep-orange: var(--mb-color-on-deep-orange-500);
    --dw-action-icon-brown: var(--mb-color-brown-500);
    --dw-action-icon-on-brown: var(--mb-color-on-brown-500);
    --dw-action-icon-grey: var(--mb-color-grey-500);
    --dw-action-icon-on-grey: var(--mb-color-on-grey-500);
    --dw-action-icon-blue-grey: var(--mb-color-blue-grey-500);
    --dw-action-icon-on-blue-grey: var(--mb-color-on-blue-grey-500);
    --dw-action-card-select-color: var(--mb-color-grey-700);
    --dw-version-color-selected: var(--mb-color-red-500);
    --dw-blade-border-color: rgba(0, 0, 0, 0.12);
    --dw-version-graph-edge-color: var(--mb-color-grey-400);
    --dw-version-graph-edge-color-reduced: var(--mb-color-grey-200);
    --dw-version-graph-edge-color-clicked: var(--mdc-theme-primary);
    --dw-version-graph-vertex-color-default: var(--mdc-theme-primary);
    --dw-project-gantt-link-color: var(--mb-color-grey-400);
    --dw-project-gantt-link-color-reduced: var(--mb-color-grey-200);
    --dw-project-gantt-link-color-clicked: var(--mdc-theme-primary);
    --dw-project-gantt-bar-color-default: var(--mdc-theme-secondary);
}

.mdc-top-app-bar {
    @include top-app-bar.fill-color(#1565c0);
    @include top-app-bar.ink-color(white);
    @include elevation-mixins.elevation(4);
}