// stylelint-disable scss/dollar-variable-pattern

@use "sass:color";

@use "@material/theme" as theme with ( 
    $primary: #1976d2, 
    $secondary: #ffa000,
    $background: white, 
    $surface: white,
);

@use "Main";
@use "@material/top-app-bar";
@use "@material/elevation/mixins" as elevation-mixins;

.mdc-top-app-bar {
    @include top-app-bar.fill-color(#1565c0);
    @include top-app-bar.ink-color(white);
    @include elevation-mixins.elevation(4);
}

.dw-dark-grey {
    --mdc-theme-primary: var(--mb-color-blue-200);
    --mdc-theme-on-primary: var(--mb-color-on-blue-200);
    --mdc-theme-secondary: var(--mb-color-orange-200);
    --mdc-theme-on-secondary: var(--mb-color-on-orange-200);
    --mdc-theme-background: var(--mb-color-blue-grey-700);
    background-color: var(--mdc-theme-background);
    color: var(--mb-color-on-blue-grey-700);
}

.dw-light-grey {
    --mdc-theme-background: var(--mb-color-blue-grey-300);
    background-color: var(--mdc-theme-background);
    color: var(--mb-color-on-blue-grey-300);
}

.dw-amber {
    --mdc-theme-surface: var(--mb-color-amber-200);
    --mdc-theme-on-surface: var(--mb-color-on-amber-200);
    --mdc-theme-background: var(--mb-color-amber-200);
    background-color: var(--mdc-theme-background);
}