// stylelint-disable scss/dollar-variable-pattern

@use "sass:color";

@use "@material/theme" as theme with ( 
    $primary: #90caf9, 
    $secondary: #ffcc80,
    $error: #ef9a9a,
    $background:#263238,
    $surface: #37474f,
);

@use "Main";
@use "@material/top-app-bar";
@use "@material/elevation/mixins" as elevation-mixins;

:root {
    --mb-badge-background-color: var(--mb-color-red-200) !important;
    --mb-badge-color: var(--mb-color-on-red-200) !important;
    --dw-background-highlight: rgba(var(--mb-color-yellow-600-rgb), 0.2) !important;
    --dw-traffic-green: var(--mb-color-green-200) !important;
    --dw-traffic-green-amber: var(--mb-color-lime-200) !important;
    --dw-traffic-amber: var(--mb-color-amber-200) !important;
    --dw-traffic-amber-red: var(--mb-color-orange-200) !important;
    --dw-traffic-red: var(--mb-color-red-200) !important;
    --dw-traffic-grey: var(--mb-color-grey-200) !important;
    --dw-traffic-unobtrusive-green: rgba(var(--mb-color-green-800-rgb), 1);
    --dw-traffic-unobtrusive-green-amber: rgba(var(--mb-color-lime-800-rgb), 1);
    --dw-traffic-unobtrusive-amber: rgba(var(--mb-color-amber-800-rgb), 1);
    --dw-traffic-unobtrusive-amber-red: rgba(var(--mb-color-orange-800-rgb), 1);
    --dw-traffic-unobtrusive-red: rgba(var(--mb-color-red-800-rgb), 1);
    --dw-traffic-unobtrusive-grey: rgba(var(--mb-color-grey-800-rgb), 1);
    --dw-on-traffic-green: var(--mb-color-blue-grey-800) !important;
    --dw-on-traffic-green-amber: var(--mb-color-blue-grey-800) !important;
    --dw-on-traffic-amber: var(--mb-color-blue-grey-800) !important;
    --dw-on-traffic-amber-red: var(--mb-color-blue-grey-800) !important;
    --dw-on-traffic-red: var(--mb-color-blue-grey-800) !important;
    --dw-on-traffic-grey: var(--mb-color-blue-grey-800) !important;
    --dw-deleted-color: rgba(var(--mb-color-red-200-rgb), 0.4);
    --dw-loading-background: var(--mb-color-blue-grey-100) !important;
    --dw-search-highlight: rgba(var(--mb-color-yellow-600-rgb), 0.2) !important;
    --dw-action-icon-red: var(--mb-color-red-200) !important;
    --dw-action-icon-on-red: var(--mb-color-on-red-200) !important;
    --dw-action-icon-pink: var(--mb-color-pink-200) !important;
    --dw-action-icon-on-pink: var(--mb-color-on-pink-200) !important;
    --dw-action-icon-purple: var(--mb-color-purple-200) !important;
    --dw-action-icon-on-purple: var(--mb-color-on-purple-200) !important;
    --dw-action-icon-deep-purple: var(--mb-color-deep-purple-200) !important;
    --dw-action-icon-on-deep-purple: var(--mb-color-on-deep-purple-200) !important;
    --dw-action-icon-indigo: var(--mb-color-indigo-200) !important;
    --dw-action-icon-on-indigo: var(--mb-color-on-indigo-200) !important;
    --dw-action-icon-blue: var(--mb-color-blue-200) !important;
    --dw-action-icon-on-blue: var(--mb-color-on-blue-200) !important;
    --dw-action-icon-light-blue: var(--mb-color-light-blue-200) !important;
    --dw-action-icon-on-light-blue: var(--mb-color-on-light-blue-200) !important;
    --dw-action-icon-cyan: var(--mb-color-cyan-200) !important;
    --dw-action-icon-on-cyan: var(--mb-color-on-cyan-200) !important;
    --dw-action-icon-teal: var(--mb-color-teal-200) !important;
    --dw-action-icon-on-teal: var(--mb-color-on-teal-200) !important;
    --dw-action-icon-green: var(--mb-color-green-200) !important;
    --dw-action-icon-on-green: var(--mb-color-on-green-200) !important;
    --dw-action-icon-light-green: var(--mb-color-light-green-200) !important;
    --dw-action-icon-on-light-green: var(--mb-color-on-light-green-200) !important;
    --dw-action-icon-lime: var(--mb-color-lime-200) !important;
    --dw-action-icon-on-lime: var(--mb-color-on-lime-200) !important;
    --dw-action-icon-yellow: var(--mb-color-yellow-200) !important;
    --dw-action-icon-on-yellow: var(--mb-color-on-yellow-200) !important;
    --dw-action-icon-amber: var(--mb-color-amber-200) !important;
    --dw-action-icon-on-amber: var(--mb-color-on-amber-200) !important;
    --dw-action-icon-orange: var(--mb-color-orange-200) !important;
    --dw-action-icon-on-orange: var(--mb-color-on-orange-200) !important;
    --dw-action-icon-deep-orange: var(--mb-color-deep-orange-200) !important;
    --dw-action-icon-on-deep-orange: var(--mb-color-on-deep-orange-200) !important;
    --dw-action-icon-brown: var(--mb-color-brown-200) !important;
    --dw-action-icon-on-brown: var(--mb-color-on-brown-200) !important;
    --dw-action-icon-grey: var(--mb-color-grey-200) !important;
    --dw-action-icon-on-grey: var(--mb-color-on-grey-200) !important;
    --dw-action-icon-blue-grey: var(--mb-color-blue-grey-200) !important;
    --dw-action-icon-on-blue-grey: var(--mb-color-on-blue-grey-200) !important;
    --dw-blade-border-color: rgba(255, 255, 255, 0.2);
    --dw-action-card-select-color: var(--mb-color-grey-200);
    --dw-version-color-selected: var(--mb-color-red-200);
    --dw-version-graph-edge-color: var(--mb-color-grey-500);
    --dw-version-graph-edge-color-reduced: var(--mb-color-grey-600);
    --dw-version-graph-edge-color-clicked: var(--mdc-theme-primary);
    --dw-version-graph-vertex-color-default: var(--mdc-theme-primary);
    --dw-project-gantt-link-color: var(--mb-color-grey-500);
    --dw-project-gantt-link-color-reduced: var(--mb-color-grey-600);
    --dw-project-gantt-link-color-clicked: var(--mdc-theme-primary);
    --dw-project-gantt-bar-color-default: var(--mdc-theme-secondary);
    --vv-axis-label-fill: white !important;
    --vv-grid-stroke: white !important;
    --vv-chart-area-fill: white !important;
    --vv-scrollbar-unselected-fill: var(--mb-color-blue-grey-900) !important;
    --vv-axis-tooltip-fill: var(--mb-color-blue-grey-600) !important;
    --vv-axis-tooltip-stroke: white !important;
    --vv-uc-budget-color: var(--mb-color-blue-200) !important;
    --vv-uc-actual-color: var(--mb-color-orange-200) !important;
    --vv-uc-actualtransitiontoforecast-color: var(--mb-color-cyan-200) !important;
    --vv-uc-forecast-color: var(--mb-color-red-200) !important;
    --vv-uc-grossdevelopmentvalue-color: var(--mb-color-grey-200) !important;
    --vv-uc-on-budget-color: var(--mb-color-on-blue-200) !important;
    --vv-uc-on-actual-color: var(--mb-color-on-orange-200) !important;
    --vv-uc-on-actualtransitiontoforecast-color: var(--mb-color-on-cyan-200) !important;
    --vv-uc-on-forecast-color: var(--mb-color-on-red-200) !important;
    --vv-uc-on-grossdevelopmentvalue-color: var(--mb-color-on-grey-200) !important;
    --vv-uc-cursor-color: var(--mb-color-red-200) !important;
    --vv-cc-ranking-0-color: var(--mb-color-blue-200) !important;
    --vv-cc-ranking-1-color: var(--mb-color-green-200) !important;
    --vv-cc-ranking-2-color: var(--mb-color-orange-200) !important;
    --vv-cc-ranking-3-color: var(--mb-color-pink-200) !important;
    --vv-cc-ranking-4-color: var(--mb-color-deep-orange-200) !important;
    --vv-cc-ranking-5-color: var(--mb-color-purple-200) !important;
    --vv-cc-ranking-6-color: var(--mb-color-indigo-200) !important;
    --vv-cc-ranking-7-color: var(--mb-color-cyan-200) !important;
    --vv-cc-ranking-8-color: var(--mb-color-light-green-200) !important;
    --vv-cc-ranking-9-color: var(--mb-color-amber-200) !important;
    --vv-cc-ranking-10-color: var(--mb-color-teal-200) !important;
    --vv-cc-on-ranking-0-color: var(--mb-color-on-blue-200) !important;
    --vv-cc-on-ranking-1-color: var(--mb-color-on-green-200) !important;
    --vv-cc-on-ranking-2-color: var(--mb-color-on-orange-200) !important;
    --vv-cc-on-ranking-3-color: var(--mb-color-on-pink-200) !important;
    --vv-cc-on-ranking-4-color: var(--mb-color-on-deep-orange-200) !important;
    --vv-cc-on-ranking-5-color: var(--mb-color-on-purple-200) !important;
    --vv-cc-on-ranking-6-color: var(--mb-color-on-indigo-200) !important;
    --vv-cc-on-ranking-7-color: var(--mb-color-on-cyan-200) !important;
    --vv-cc-on-ranking-8-color: var(--mb-color-on-light-green-200) !important;
    --vv-cc-on-ranking-9-color: var(--mb-color-on-amber-200) !important;
    --vv-cc-on-ranking-10-color: var(--mb-color-on-teal-200) !important;
}

.mdc-top-app-bar {
    @include top-app-bar.fill-color(#37474f);
    @include top-app-bar.ink-color(white);
    @include elevation-mixins.elevation(4);
}

.dw-map-filter {
    filter: grayscale(60%) brightness(50%) !important;
}