@namespace Website.Lib

@inherits ComponentBase


<div class="dw-quote-icon">
    <svg width="104px" height="91px" viewBox="0 0 104 91" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g class="dw-quote-icon-fill" transform="translate(-1180.000000, -7692.000000)" fill-rule="nonzero">
                <g transform="translate(225.000000, 7534.000000)">
                    <g transform="translate(32.000000, 132.000000)">
                        <path d="M1016.80526,117 C1022.13141,117 1026.45263,112.632813 1026.45263,107.25 L1026.45263,81.25 C1026.45263,75.8671875 1022.13141,71.5 1016.80526,71.5 L1000.72632,71.5 L1000.72632,58.5 C1000.72632,51.3297272 1006.49468,45.5 1013.58947,45.5 L1015.19737,45.5 C1017.87045,45.5 1020.02105,43.3265228 1020.02105,40.625 L1020.02105,30.875 C1020.02105,28.1734772 1017.87045,26 1015.19737,26 L1013.58947,26 C995.822158,26 981.431579,40.5436707 981.431579,58.5 L981.431579,107.25 C981.431579,112.632813 985.752796,117 991.078947,117 L1016.80526,117 Z M959.126316,117 C964.565789,117 968.978947,112.632813 968.978947,107.25 L968.978947,81.25 C968.978947,75.8671875 964.565789,71.5 959.126316,71.5 L942.705263,71.5 L942.705263,58.5 C942.705263,51.3297272 948.596356,45.5 955.842105,45.5 L957.484211,45.5 C960.21417,45.5 962.410526,43.3265228 962.410526,40.625 L962.410526,30.875 C962.410526,28.1734772 960.21417,26 957.484211,26 L955.842105,26 C937.696762,26 923,40.5436707 923,58.5 L923,107.25 C923,112.632813 927.413158,117 932.852632,117 L959.126316,117 Z" id=""></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>
</div>